<div class="container d-flex f-center">
    <div class="journal__area f-evenly mt5 p0">
      <section>
        <article>
          <div class="p1 d-flex f-column text-center">
            <label for="thisyear" class="form-label mb2"><h2>Last year</h2></label>
            <textarea
              class="form-control"
              name="thisyear"
              id=""
              cols="40"
              rows="5"
            ></textarea>
            <button type="submit">Submit</button>
          </div>
        </article>
      </section>

      <section>
         <article>
           <div class="p1 d-flex f-column text-center">
            
               <label for="thisyear" class="form-label mb2">
                  <h2>This year</h2>
               </label>
               <textarea
               class="form-control"
               name="thisyear"
               id=""
               cols="40"
               rows="5"
               ></textarea>
               <button type="submit">Submit</button>
           </div>
         </article>
       </section>
    </div>
</div>
  </body>
</html>
