
    <div
      class="journal__area"
      style="
        border: 2px solid black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 600px;
        height: 75vh;
        margin: auto;
      "
    >
      <section style="margin: 5px">
        <article>
          <div class="mb-3 d-flex">
            <label for="thisyear" class="form-label">This year</label>
            <textarea
              class="form-control"
              name="thisyear"
              id=""
              rows="3"
            ></textarea>
          </div>
        </article>
      </section>
      <section style="margin: 5px">
        <article>
          <div><h3>Last Year</h3></div>
          <textarea
            style="height: 30vh"
            aria-label="text area"
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Type Here"
          ></textarea>
        </article>
      </section>
    </div>
  </body>
</html>
